<p style="text-align:start">
{%- set live_programs = namespace(programs=[], current_channel=None) -%}
{%- for i in range(1, 7) -%}
  {%- set sensor_name = 'sensor.ziggosport' ~ i ~ '_epg' -%}
  {%- if state_attr(sensor_name, 'programming') is not none -%}
    {%- for program in state_attr(sensor_name, 'programming') -%}
      {%- if program.live and program.sportName == 'golf' -%}
        {%- set channel = '<b>' ~ state_attr(sensor_name, 'channel') ~ '</b>' -%}
        {%- set date = program.dateStart | as_timestamp | timestamp_custom('%-d') | int -%}
        {%- set start_time = program.dateStart | as_timestamp | timestamp_custom('%H:%M') -%}
        {%- set end_time = program.dateEnd | as_timestamp | timestamp_custom('%H:%M') -%}
       {%- set is_tomorrow = (now() | as_timestamp | timestamp_custom('%-d') | int) <  date -%}
       {%- set is_yesterday = (now() | as_timestamp | timestamp_custom('%-d') | int) >  date -%}


        {# Controleer of "TGL", "PGA" of "European Tour" in de title of description staat #}
        {%- if 'TGL' in program.title or 'TGL' in program.description -%}
          {%- set title_style = '<span style="color: #99FFFF;"><b>' ~ program.title ~ '</b></span>' -%}
        {%- elif 'PGA' in program.title or 'PGA' in program.description -%}
          {%- set title_style = '<span style="color: #33FBFF;"><b>' ~ program.title ~ '</b></span>' -%}
        {%- elif 'European Tour' in program.title or 'European Tour' in program.description -%}
          {%- set title_style = '<span style="color: green;"><b>' ~ program.title ~ '</b></span>' -%}
        {%- else -%}
          {%- set title_style = '<b>' ~ program.title ~ '</b>' -%}
        {%- endif -%}      

        {# Controleer of de namen in de omschrijving staan en pas de kleuren aan #}
        {%- set description = program.description -%}
{%- if description | length > 100 -%}
  {%- set description = description[:100] ~ '...' -%}
{%- endif -%}
{%- set description = description | replace('Rory McIlroy', '<span style="color: #FF69B4;"><b>Rory McIlroy</b></span>') -%}
{%- set description = description | replace('Tommy Fleetwood', '<span style="color: #FFD700;"><b>Tommy Fleetwood</b></span>') -%}
{%- set description = description | replace('Tiger Woods', '<span style="color: #FF4500;"><b>Tiger Woods</b></span>') -%}

{%- if is_tomorrow -%}
        {%- set dag = '<b>morgen</b>: ' -%}
        {%- set tag = '<i>' -%}
{%- elif is_yesterday -%}
        {%- set dag = '<b>gisteren</b>: <s>' -%}
        {%- set tag = '<s>' -%}
{%- else -%}
        {%- set dag = '' -%}
        {%- set tag = '<i>' -%}
{%- endif -%}

{%- set program_info = dag ~ start_time ~ '-' ~ end_time ~ ':<br />' ~ title_style ~ '<br />' ~ tag ~ description ~ '</i></s>' -%}
        
        {# Controleer of we een nieuwe zender tegenkomen #}
        {%- if channel != live_programs.current_channel -%}
          {%- if live_programs.current_channel is not none -%}
            {# Voeg een lege regel toe tussen zenders #}
            {%- set live_programs.programs = live_programs.programs + [''] -%}
          {%- endif %}
          {%- set live_programs.current_channel = channel -%}
          {%- set live_programs.programs = live_programs.programs + [channel] -%}
        {%- endif -%}
        
        {# Voeg de program_info toe aan de lijst #}
        {%- set live_programs.programs = live_programs.programs + [program_info] -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}

{{- live_programs.programs | join('<br />') if live_programs.programs | length > 0 else "Er is vandaag geen live golf op <br /> Ziggo Sport. 😢" -}}
</p>